{% extends 'base.html.twig' %}

{% block title %}Liste des profils{% endblock %}

{% block monTitre %}Liste des profils{% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endfor %}

    {{form_start(form)}}
    <div class="row no-gutters align-items-center text-center">
        <div class="col">
            {{form_row(form.minAnnee)}}
        </div>
        <div class="col">
            {{form_row(form.maxAnnee)}}
        </div>
        <div class="col-2">
            <input type="submit" value="rechercher" class="btn btn-info">
        </div>
    </div>
    {{form_end(form)}}


    {% if admin %}
        <a href="{{path('creationVoiture')}}" class="d-block btn btn-success">Ajouter</a>
    {% endif %}


    <div class="row no-gutters">
        {% for voiture in voitures %}
            <div class="col-12 col-lg-6 p-1">
                <div class="card mb-3">
                    <div class="row no-gutters align-items-center p-2">
                        <div class="col-12 col-md-4">
                            <img src="{{asset('images/modelefemme3.jpg')}}" class="card-img">
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title">{{voiture.pseudo}}</h5>
                                <p class="card-text">
                                <div>Je recherche : {{voiture.jerecherche}}</div>
                                <div>Ville : {{voiture.ville}}</div>
                                <div>Description : {{voiture.description}}</div>
                                <div>Taille : {{voiture.Taille}}</div>
                                <div>Année de naissance: {{voiture.annedenaissance}}</div>
                                <div>Couleur des yeux : {{voiture.couleuryeux}}</div>
                                <div>Couleur des cheveux : {{voiture.couleurcheveux}}</div>
                                <div>Citations : {{voiture.citation}}</div>
                                <div>Livres préférés : {{voiture.livres}}</div>
                                <div>Films préférés : {{voiture.films}}</div>
                                <div>Loisirs : {{voiture.loisirs}}</div>
                                <div>Langue parlé : {{voiture.langueparle}}</div>

                                </p>
                            </div>
                        </div>
                    </div>
                    {% if admin %}
                        <div class="row no-gutters">
                            <a href="{{path('modifVoiture',{'id' : voiture.id})}}" class="col btn btn-warning">Modifier</a>
                            <form method="post" class="col" action="{{path('supVoiture',{'id':voiture.id})}}" onsubmit="return confirm('Voulez-vous vraiment supprimer ?');">
                                <input type="hidden" name="_method" value="SUP">
                                <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ voiture.id)}}">
                                <input type="submit" class="btn btn-danger w-100" value="supprimer">
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>

        {% endfor %}
    </div>


{% endblock %}